/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* !COMMON */
:root {
    --header-clr: #FF6900;
    --red-tag: #FF0000;
    --green-tag: #008000;
    --footer-clr: #1A1A1A;
}
a {
    text-decoration: none;
    color: white;
}
body {
    max-width: 1500px;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
.font-small {
    font-size: .8rem;
    font-weight: lighter;
}
.font-medium {
    font-size: 1rem;
}
.heart {
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    top: 10px;
    right: 0;
}
.price-current {
    color: #FF0000;
    font-weight: bold;
}
.price-old {
    text-decoration: line-through;
}
.tag-holder {
    position: absolute;
    left: 0;
    bottom: 30px;
}
.tag {
    padding: .3em .5em;
    color: white;
    font-weight: bold;
}
.redbox {
    background-color: #FF0000;
}
.greenbox {
    background-color: #008000;
}
ul {
    list-style: none;
}
li a:hover {
    text-decoration: underline;
}
.side li{
    margin-right: .5rem;
}
/* !HEADER */
header {
    background-color: #FF6900;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 3px 0 3px 3px rgba(0, 0, 0, .4);
}
header > .container {
    color: white;
}
header img {
    max-height: 30px;
}
.container ul {
    display: flex;
}
.section {
    width: 20%;
}
.logo {
    text-align: center;
    flex-grow: 2;
}
.profile {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
/* !MAIN */
main .container {
    margin: 90px auto 30px;
    gap: 10px;
}
.card {
    width: calc(100% / 3 - 20px / 3);

}
.overlay {
    position: relative;
}
.hover {
    display: none;
}
.overlay:hover .hover {
    display: inline-block;
}
.overlay:hover .display {
    display: none;
}
.heart:hover {
    color: #FF0000;
} 
/* !FOOTER */
footer {
    background-color: #1A1A1A;
    color: white;
    padding: 25px 0;
    border-bottom: 1px solid white;
}
footer .container {
    justify-content: space-between;
}

footer > .container > div > * {
    margin-bottom: 1rem;
}